/* All html objects will be wrapped in the #wrap div */
.progress-bar {
  background-color: white;
  border-color: gray;
  border-style: solid;
  height: 40px;
}
.progress-bar--filling {
  height: 40px;
  background-image: linear-gradient(to right, #f2b00a, #fff7c7);
}
.progress-bar-image--filling {
  float: right;
  background-image: url('https://media.tenor.com/images/6e190eb7b580983ce09c7ccf0c91519d/tenor.gif');
  background-repeat: no-repeat;
  background-size: contain;
  width: 60px;
  height: 60px;
}
.progress-bar-image--end {
  float: right;
  height: 40px;
  width: 48px;
  background-image: url('https://thumbs.gfycat.com/DampSpanishCleanerwrasse-size_restricted.gif');
  background-repeat: no-repeat;
  background-size: 50px 50px;
}
.progress-bar--text {
  margin-top: 20px;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  font-family: consolas;
  color: white;
}
