<div>
  <div class="progress-bar">
    <div class="progress-bar-image--end"></div>
    <div id="current-progress" class="progress-bar--filling">
      <div class="progress-bar-image--filling"></div>
    </div>
  </div>
  <div class="progress-bar--text">
    Seguidores: <span id="goal-current"></span> de <span id="goal-total"></span>
  </div>
</div>
